<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      External server data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let usuario of usuarios">
      {{usuario.id}} - {{usuario.name}} - {{usuario.email}}
    </ion-card>
  </ion-list>
</ion-content>
